@tailwind base;

@layer base {
    body {
        @apply text-[#181C32];
    }

    @font-face {
        font-family:"Open Sans";
        src:url(/fonts/OpenSansVariable.ttf);
    }

    html {
        font-family:"Open Sans", system-ui, sans-serif;
    }
   
    .btn {
        @apply transition rounded focus:ring-2 inline-flex items-center space-x-2 border w-full justify-center md:justify-start md:w-auto;
    }

    .btn.btn-icon {
        @apply p-2 space-x-0 w-auto;
    }

    .btn.btn-gray {
        @apply bg-gray-100 hover:bg-gray-200 active:bg-gray-300 ring-gray-200;
    }
    .btn.btn-green {
        @apply bg-green-500 hover:bg-green-600/80 text-white active:bg-green-600 ring-green-700
    }
    .btn.btn-gray:disabled {
        @apply bg-gray-100/50 cursor-not-allowed;
    }
    .btn.btn-sm {
        @apply text-sm py-1 px-2;
    }
    .btn.btn-md {
        @apply text-sm py-2 px-4;
    } 
    .btn.btn-primary {
        @apply bg-[#688BE4] border-[#688BE4]  text-white hover:bg-[#5c80db] ring-[#5476cc]
    }
    .btn.btn-full {
        @apply w-full;
    }
    .btn.btn-outline-primary {
        @apply text-[#688BE4] bg-transparent hover:text-[#5c80db] ring-[#5476cc] border-transparent;
    }
    .btn.btn-outline-primary:disabled {
        @apply text-[#688BE4]/50 cursor-not-allowed
    }
    .btn.btn-primary:disabled {
        @apply bg-[#688BE4]/50 cursor-not-allowed;
    }

    .btn.btn-red {
        @apply bg-red-500 border-red-500 text-white hover:bg-red-500 ring-red-600;
    }
    .btn.btn-red:disabled {
        @apply bg-red-500/50 cursor-not-allowed;
    }
    .btn.btn-teal {
        @apply bg-[#5FC6B8] border-[#5FC6B8] text-white hover:bg-[#53b5a8] ring-[#53b5a8];
    }
    .btn.btn-teal:disabled {
        @apply bg-[#5FC6B8]/50 cursor-not-allowed;
    }
    .btn.btn-default {
        @apply bg-[#FFFFFF] border-[#8B8F9D] text-[#181C32] hover:bg-gray-100 ring-[#bdc3c7]
    }
    .btn.btn-default:disabled {
        @apply bg-white/50 cursor-not-allowed;
    }
    .btn.btn-center {
        @apply md:justify-center;
    }

    .badge {
        @apply py-1 px-2 text-[15px] w-fit rounded-full;
    }
    .badge.badge-outline-primary {
        @apply text-[#688BE4];
    }
    .badge.badge-primary {
        @apply bg-[#688BE4] text-white;
    }
    .badge.badge-outline-green {
        @apply text-green-500;
    }
    .badge.badge-green {
        @apply bg-green-500 text-white;
    }

    .badge.badge-yellow {
        @apply bg-yellow-400 text-yellow-800;
    }
    .badge.badge-outline-yellow {
        @apply text-yellow-800;
    }

    input {
        @apply focus:outline-none px-3 focus-within:ring-2 ring-[#688BE4] transition focus:border-[#688BE4];
        height: 50px;
    }
    select {
        @apply focus:outline-none focus-within:ring-2 ring-[#688BE4] transition focus:border-[#688BE4] h-[50px];
    }
    
    .alert {

    }

    .alert.alert-red {
        @apply text-red-500;
    }

    .alert.alert-icon {
        @apply flex items-center justify-center;
    }

    .pagination {
        @apply p-4;
    }

    .pagination .pagination-container {
        @apply flex items-center justify-end space-x-4
    }
    .pagination .pagination-container .arrow,
    .pagination .pagination-container .page {
        @apply w-8 h-8 inline-flex flex-grow-0 items-center justify-center border rounded-[5px] text-gray-800 transition;
    }

    .pagination .pagination-container span.arrow,
    .pagination .pagination-container span.page {
        
    }
    .pagination .pagination-container a.arrow,
    .pagination .pagination-container a.page {
        @apply hover:bg-gray-100;
    }

    .pagination .pagination-container span.page.active {
        @apply bg-[#688BE4] text-white font-bold;
    }
}

@tailwind components;

@layer components {
    .application {
        @apply h-screen w-full flex bg-[#FAFBFC] text-[#181C32];
    }

    .application>aside {
        @apply w-[262px] h-screen overflow-x-hidden overflow-y-auto bg-white border-r flex-shrink-0 fixed top-0 left-0 z-10 lg:relative ease-in-out duration-150;

    }

    .application>aside.closed {
        @apply hidden lg:block;
    }

    .application>aside.minimized {
        @apply w-[80px];
        transition:width linear 50ms;
    }

    .application>aside>div {
        @apply h-[66px] w-full pl-8 flex items-center justify-between pr-4;
    }

    .application>aside>div>img {
        @apply h-[28px];
    }

    .application>aside.minimized>div {
        @apply h-[66px] w-full pl-4 flex items-center justify-center;
    }

    .application>aside.minimized>div>img {
        @apply hidden;
    }

    .application>aside.minimized .maximize-icon {
        @apply block;
    }

    .application>aside.minimized .minimize-icon {
        @apply hidden;
    }

    .application>aside .maximize-icon {
        @apply hidden;
    }

    .application>aside .minimize-icon {
        @apply block;
    }

    .application>aside .btn-toggle-aside {
        @apply hidden lg:block;
    }

    .application>main .btn-open-aside,
    .application>aside .btn-close-aside {
        @apply block lg:hidden;
    }

    .application>aside>section {
        @apply py-8 px-4 flex flex-col justify-between;
        height:calc(100vh - 66px);
    }

    .application>aside>section nav ul {
        @apply space-y-2;
    }

    .application>aside>section nav ul li {
        @apply flex;
    }

    .application>aside>section nav ul li a {
        @apply px-4 py-3 bg-white hover:bg-[#EFF2F8] active:bg-[#e6edfa] text-sm rounded-[10px] w-full flex items-center space-x-[18px] transition;
    }

    .application>aside>section nav ul li a {
        @apply py-4;
    }

    .application>aside>section nav ul li a.active {
        @apply bg-[#EFF2F8] text-[#688BE4] font-semibold tracking-wider;
    }

    .application>aside>section nav ul li a .icon {
        @apply w-4 h-4 flex items-center justify-center;
    }

    .application>aside.minimized>section nav ul li a .title {
        @apply hidden;
    }

    .application>aside>section>footer>div {
        @apply flex flex-col items-center justify-center space-y-[4px] text-xl;
    }

    .application>aside.minimized>section>footer>div {
        @apply space-y-[16px];
    }

    .application>aside.minimized>section>footer>div {
        @apply text-base;
    }

    .application>aside>section>footer>div img {
        @apply h-[42px];
    }

    .application>aside>section>footer>div a {
        @apply hover:text-[#688BE4] transition active:underline;
    }

    .application>aside.minimized>section>footer>div a {
        @apply hover:text-[#688BE4] active:no-underline;
    }

    .application>aside>section>footer>div a span.icon {
        @apply hidden;
    }

    .application>aside.minimized>section>footer>div img.logo-icon {
        @apply hidden;
    }

    .application>aside>section>footer>div img.logo-icon-sm {
        @apply hidden;
    }

    .application>aside.minimized>section>footer>div img.logo-icon-sm {
        @apply block;
    }

    .application>aside.minimized>section>footer>div a span.icon {
        @apply block;
    }

    .application>aside.minimized>section>footer>div a span.title {
        @apply hidden;
    }

    .application>aside>section>footer>div a span.title {
        @apply block;
    }

    .application>.main-content {
        @apply w-full h-full;
    }

    .application>.main-content>header {
        @apply lg:h-[66px] w-full bg-white border-b;
    }

    .application>.main-content>header>div {
        @apply w-full h-full flex flex-col lg:flex-row lg:items-center lg:justify-between py-4 px-4 lg:px-8 space-y-5 lg:space-y-0;
    }

    .application>.main-content>header>h1 {
        @apply text-lg;
    }

    .application>.main-content>header .date-range-picker {
        @apply bg-[#F5F8FA] py-2 px-3 text-[13px] rounded-[5px] cursor-pointer space-x-2 text-[#8B8F9E] w-fit;
    }

    .application>.main-content>header .date-range-picker input {
        @apply p-0 bg-[#F5F8FA] text-[13px] border-none focus:ring-0 pointer-events-none h-[30px];
    }

    .application>.main-content>header>div>div:first-child {
        @apply flex items-center space-x-4 lg:space-x-0;
    }

    .application>.main-content>header>div>div:nth-child(2) {
        @apply flex flex-col lg:flex-row space-y-4 lg:space-y-0 lg:items-center lg:space-x-6;
    }

    .dropdown {
        @apply relative;
    }

    .dropdown>button {
        @apply text-[13px] py-2 px-3 space-x-2 rounded-[5px] border border-dashed;
    }

    .dropdown>.dropdown-content {
        @apply absolute top-10 w-full bg-white rounded-[5px] z-10 shadow py-2 px-3 space-y-4 hidden;
    }

    .dropdown>.dropdown-content .dropdown-link {
        @apply text-[13px] inline-flex items-center justify-between w-full py-2 px-3 bg-[#F5F8FA] hover:bg-[#e4ecf2] transition rounded-[5px];
    }

    .application .dashboard-content {
        @apply w-full overflow-y-auto px-4 2xl:px-0 py-8;
        height:calc(100vh - 66px);
    }

    .application .dashboard-content-inner {
        @apply container mx-auto h-10 pb-8 space-y-8;
    }

    .application .dashboard-widgets {
        @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 w-full gap-[30px];
    }

    .application .widget {
        @apply rounded-[10px] bg-white border border-[#EEF0F7];
    }
    .application .widget-message {
        @apply col-span-1 h-[180px] xl:h-[270px] bg-white border rounded-[10px];
    }
    .application .widget-message header {
        @apply flex items-center justify-between w-full px-3 py-2;
    }
    .application .widget-message header h2 {
        @apply text-sm font-bold;
    }
    .application .widget-message table {
        @apply w-full rounded-t-[10px] overflow-y-auto h-auto;
    }
    .application .widget-message table thead th {
        @apply bg-gray-100 text-left px-3 py-2 text-sm text-gray-800;
    }
    .application .widget-message table tbody {
        @apply divide-y;
    }
    .application .widget-message table tbody tr {
        @apply hover:bg-gray-50 transition;
    }
    .application .widget-message table tbody tr td {
        @apply px-3 py-2 text-sm;
    }

    .application .widget.widget-sm {
        @apply col-span-1 h-[180px] xl:h-[221px];
    }

    .application .widget.widget-count {
        @apply px-8 xl:px-8 py-8 xl:py-12 space-x-4 xl:space-x-6 flex items-center;
    }

    .application .widget.widget-count .icon {
        @apply text-2xl xl:text-[36px] h-16 w-16 xl:h-24 xl:w-24 rounded-full bg-[#E5FDDF] flex items-center justify-center flex-shrink-0;
    }

    .application .widget.widget-count .content {
        @apply flex flex-col leading-9;
    }

    .application .widget.widget-count .content>span:first-child {
        @apply text-[15px];
    }

    .application .widget.widget-count .content>span:nth-child(2) {
        @apply text-3xl xl:text-[48px];
    }

    .application .widget.widget-grid {
        @apply px-8 py-7;
    }

    .application .widget.widget-grid > header {
        @apply flex flex-col md:flex-row items-start md:items-center md:justify-between mb-7;
    }
    .application .widget.widget-grid > header h2 {
        @apply text-lg;
    }
    .application .grid-container {
        @apply overflow-x-auto relative sm:rounded-lg;
    }
    .application .grid-container.kendo {
        @apply overflow-hidden;
    }
    .application .grid-container table {
        @apply w-full text-sm text-left text-[#4B4B4B] dark:text-gray-400;
    }
    .application .grid-container table > tfoot,
    .application .grid-container table > thead {
        @apply text-xs text-[#8B8F9E] uppercase bg-[#F5F8FA] dark:bg-gray-700 dark:text-gray-400;
    }

    .application .grid-container table > tfoot th,
    .application .grid-container table > thead th {
        @apply py-3 px-6 font-light;
    }

    .application .grid-container table > tfoot th.actions,
    .application .grid-container table > thead th.actions {
        @apply text-center;
    }
    
    .application .grid-container table > tbody {
        @apply divide-y divide-[#F0F0F0] dark:divide-gray-700 w-full;
    }
    .application .grid-container table > tbody tr {
        @apply bg-white  dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600 transition;
    }
    .application .grid-container table > tbody tr td {
        @apply py-4 px-6 text-gray-900 whitespace-normal dark:text-white;
    }
    .application .grid-container table > tbody tr td.actions {
        @apply text-center;
    }
    .application .grid-container table > tbody tr td.actions .action-container {
        @apply flex items-center space-x-2 justify-center w-full;
    }

    .application .widget.widget-full {
        @apply col-span-1 md:col-span-2 xl:col-span-3 row-span-4;
    }

    .application .widget.widget-chart {
        @apply flex flex-col p-2;
    }

    .application .reseller-select {
        @apply pb-4;
    }

    .application>aside.minimized .reseller-select {
        @apply hidden;
    }

    .application .k-input-inner {
        @apply focus:ring-0;
    }

    .application .splide.account-information {
        @apply h-full relative;
    }

    .application .splide.account-information .splide__pagination {
        @apply space-x-2;
    }

    .application .splide.account-information .splide__pagination__page {
        @apply w-3 h-3 rounded-full bg-gray-200 transition
    }

    .application .splide.account-information .splide__pagination__page.is-active {
        @apply bg-[#688BE4]
    }

    .application .splide.account-information .splide__pagination.splide__pagination--ltr {
        @apply absolute -bottom-2 py-4 w-full flex justify-center
    }

    .application .splide.account-information .splide__track.splide__track--slide {
        @apply py-4 pb-8 h-full;
    }

    .application .splide.account-information .splide__track.splide__track--slide ul {
        @apply h-full;
    }

    .application .bank-account-input~label {
        @apply relative p-5 border border-[#E1E3EA] rounded-[5px] w-full cursor-pointer transition flex items-start space-x-5;
    }

    .application .bank-account-input:checked~label {
        @apply border-[#6A8DDE]  ;
    }

    .application .bank-account-input~label>div:first-child {
        @apply bg-[#F5F8FA] border border-[#E1E3EB] w-5 h-5 rounded-full transition flex items-center justify-center;
    }

    .application .bank-account-input:checked~label>div:first-child {
        @apply bg-[#6A8DDE] border-[#6A8DDE] flex-shrink-0;
    }

    .application .bank-account-input~label>div:first-child>div:first-child {
        @apply bg-[#F5F8FA] w-3 h-3 rounded-full transition;
    }

    .application .bank-account-input:checked~label>div:first-child>div:first-child {
        @apply bg-white;
    }

    .application .bank-account-input~label>div:nth-child(2) {
        @apply w-full space-y-5 text-[15px];
    }
    .application .bank-account-input~label>div:nth-child(3) {
        @apply absolute top-[6px] right-[6px];
    }

    .application .bank-account-input~label>div:nth-child(2)>div:last-child {
        @apply flex flex-col xl:flex-row space-y-2 xl:space-y-0 items-start xl:items-center  justify-between w-full;
    }

    .daterangepicker .ranges li.active {
        @apply bg-[#688BE4];
    }
    .daterangepicker td.active, .daterangepicker td.active:hover {
        @apply bg-[#5c80db]
    }

    .application .reseller-information {
        @apply grid grid-cols-1 xl:grid-cols-3 gap-8;
    }
    .application .reseller-information .card h2 {
        @apply text-[#181C32] text-lg;
    }
    .application .card {
        @apply shadow-sm;
    }
    .application .reseller-information .card.information-card {
        @apply xl:col-span-2 py-6 px-8 bg-white rounded-[10px] space-y-8;
    }
    .application .reseller-information .card.information-card .content {
        @apply space-y-5;
    }
    .application .reseller-information .card.information-card .content > div {
        @apply text-[15px] flex flex-col lg:flex-row space-y-1 lg:space-y-0 lg:items-center justify-between;
    }
    .application .reseller-information .card.information-card .content > div div:first-child {
        @apply text-[#8B8F9E];
    }
    .application .reseller-information .card.collection-card {
        @apply py-6 px-8 bg-white rounded-[10px];
    }
    .application .reseller-information .card.collection-card .content {
        @apply h-full py-4;
    }
    .application .reseller-information .card.collection-card .content .slide-content {
        @apply flex flex-col justify-between h-full text-[13px] pb-4;
    }
    .application .reseller-information .card.collection-card .content .slide-content div:first-child {
        @apply space-y-4;
    }
    .application .reseller-information .card.collection-card .content .slide-content div:first-child > div {
        @apply text-[13px];
    }
    .application .reseller-information .card.collection-card .content .slide-content div:first-child > div > div:first-child {
        @apply text-[#8B8F9E];
    }
    .application .reseller-information .card.account-card {
        @apply col-span-1 xl:col-span-3 py-6 px-8 bg-white rounded-[10px] space-y-8;
    }
    .application .reseller-information .card.account-card header {
        @apply flex items-start flex-col xl:flex-row space-y-4 xl:space-y-0 xl:items-center xl:justify-between;
    }
    .application .reseller-information .card.account-card header h2 {
        @apply text-[#181C32] text-lg;
    }
    .application .reseller-information .card.account-card .content {
        @apply grid grid-cols-1 xl:grid-cols-2 gap-8 w-full;
    }
    .application .reseller-information .card.account-card .content > div {
        @apply col-span-1 flex w-auto;
    }
    .application .phone-control {
        @apply flex space-x-3;
    }
    .modal .phone-control {
        @apply grid grid-cols-3 gap-2;
    }
    .application .phone-control select {
        @apply text-[15px] flex-shrink-0 border border-[#E1E3EB] rounded-[5px] p-2 w-full md:w-[100px];
    }
    
    .modal .phone-control select {
        @apply h-[50px] col-span-1 text-[15px] flex-shrink-0 border border-[#E1E3EB] rounded-[5px] p-2 w-full md:w-[100px];
    }
    .application .phone-control input {
        @apply text-[15px] border border-[#E1E3EB] rounded-[5px] w-full md:w-[208px];
    }
    .modal .phone-control input {
        @apply text-[15px] border border-[#E1E3EB] rounded-[5px] h-[50px] col-span-2;
    }
    .application .email-control input {
        @apply text-[15px] border border-[#E1E3EB] rounded-[5px] w-full md:w-[320px];
    }

    .modals {
        @apply fixed top-0 left-0 w-screen h-screen bg-black/50 z-[100];
    }

    .modals.is-hidden {
        @apply hidden;
    }

    .modals > .modals-container {
        @apply flex items-center justify-center w-full h-full p-2 ;
    }
    .modals > .modals-container > .modal {
        @apply w-full md:w-[459px] bg-white rounded-[10px];
    }
    .modals > .modals-container > .modal.modal-lg {
        @apply md:w-full lg:w-[760px];
    }
    .modals > .modals-container > .modal > header {
        @apply pl-8 pr-4 py-5 flex items-center justify-between border-b;
    }
    .modals > .modals-container > .modal > header > div:first-child > div:first-child {
        @apply text-[#181C32] text-base md:text-lg;
    }
    .modals > .modals-container > .modal > header > div:first-child > div:nth-child(2) {
        @apply text-[#8B8F9E] text-sm;
    }
    .modals > .modals-container > .modal > section {
        @apply px-8 py-8 space-y-10;
    }
    .modals > .modals-container > .modal > section > .actions {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4;
    }
    .modals > .modals-container > .modal > section > .actions > .full-button {
        @apply col-span-1 md:col-span-2;
    }
    .modals > .modals-container > .modal > section > .actions > .full-button > button {
        @apply w-full;
    }
    .modals > .modals-container > .modal.modal-lg > section > .actions {
        @apply grid grid-cols-1 md:grid-cols-3 gap-4;
    }
    .modals > .modals-container > .modal > section > .marks {
        @apply flex items-center justify-center space-x-3;
    }
    .modals > .modals-container > .modal > section > .marks img {
        @apply h-[30px];
    }

    .modals > .modals-container > .modal > section > .description {
        @apply text-[15px] text-center;
    }

    .modals > .modals-container > .modal > section > .fail > div:first-child,
    .modals > .modals-container > .modal > section > .warning > div:first-child,
    .modals > .modals-container > .modal > section > .approve > div:first-child {
        @apply flex items-center justify-center;
    }
    .modals > .modals-container > .modal > section > .fail > div:first-child img,
    .modals > .modals-container > .modal > section > .approve > div:first-child img {
        @apply w-[100px] h-[100px] lg:w-[160px] lg:h-[160px];
    }
    .modals > .modals-container > .modal > section > .fail > div:nth-child(2),
    .modals > .modals-container > .modal > section > .approve > div:nth-child(2) {
        @apply text-center pt-7 pb-8 space-y-[12px];
    }
    .modals > .modals-container > .modal > section > .fail > div:nth-child(2) > div:first-child,
    .modals > .modals-container > .modal > section > .approve > div:nth-child(2) > div:first-child {
        @apply text-[26px];
    }
    .modals > .modals-container > .modal > section > .fail > div:nth-child(2) > div:first-child {
        @apply text-red-500;
    }
    .modals > .modals-container > .modal > section > .warning > div:first-child {
        @apply text-yellow-400;
    }
    .modals > .modals-container > .modal > section > .fail > div:nth-child(2) > div:nth-child(2),
    .modals > .modals-container > .modal > section > .approve > div:nth-child(2) > div:nth-child(2) {
        @apply p-8 text-[15px] border border-dashed border-[#E1E3EA];
    }

    .form {
        @apply flex flex-col space-y-5;
    }

    .form.form-inline {
        @apply grid grid-cols-1 lg:grid-cols-2  xl:grid-cols-4 gap-4 space-y-0
    }

    .form .form-control-phone {
    
    }

    .form.form-inline.form-credit-payment .form-control {
        @apply grid-cols-1;
    }
    .form .form-control-radio {
        @apply grid grid-cols-1 md:grid-cols-2 gap-4;
    }
    .form .form-control-radio > label {
        @apply cursor-pointer flex items-center space-x-1;
    }

    .form.form-inline.form-credit-payment .form-control input {
        @apply w-full
    }

    .form > .form-control,
    .form > .form-control-phone {
        @apply flex flex-col space-y-3;
    }
    .form > .form-control > label {
        @apply text-[15px];
    }
    .form > .form-control > input,
    .form > .form-control > select,
    .form > .form-control-phone input,
    .form > .form-control-phone select {
        @apply border border-[#E1E3EB] bg-[#FFFFFF] rounded-[5px] placeholder-[#8B8F9E] w-full;
    }
    .form > .actions {
        @apply flex flex-col lg:flex-row items-center md:justify-center space-y-2 lg:space-y-0 lg:space-x-2;
    }

    .form.form-inline > .actions {
        @apply md:justify-start
    }

    .application .credit-payment {
        @apply space-y-8;
    }
    .application .page-card,
    .application .grid-card {
        @apply border border-[#EEF0F7] bg-white rounded-[10px] shadow-sm;
    }

    .application .page-card > header,
    .application .grid-card > header {
        @apply py-5 px-8 flex items-center justify-between;
    }
    .application .page-card > header h2,
    .application .grid-card > header h2 {
        @apply text-base lg:text-lg;
    }
    .application .page-card > header p,
    .application .grid-card > header p {
        @apply text-[13px] text-[#8B8F9E];
    }
    .application .page-card > .page-content,
    .application .grid-card > .grid-area {
        @apply px-8 space-y-5 pb-8;
    }
    .application .page-card > .page-content .progress {
        @apply h-5 w-full rounded-full bg-white border border-[#EEF0F7] flex items-center;
    }
    .application .page-card > .page-content .progress .progress-bar {
        @apply h-full bg-[#45DB8A] rounded-full;
    }
    .application .page-card > .page-content .component {
        @apply space-y-8;
    }
    .application .page-card > .page-content .component .support-categories {
        @apply grid grid-cols-1 lg:grid-cols-2 gap-[26px];
    }
    .application .page-card > .page-content .component .support-categories .category {
        @apply col-span-1 flex;
    }
    .application .page-card > .page-content .component .actions {
        @apply flex items-center justify-center lg:justify-end space-x-4;
    }
    .application .page-card > .page-content .component .faq {
        @apply space-y-6;
    }
    .application .page-card > .page-content .component .faq article {
        @apply bg-white border rounded-[10px] border-[#EEF0F7];
    }
    .application .page-card > .page-content .component .faq article > header {
        @apply flex items-center px-6 py-8 justify-between;
    }
    .application .page-card > .page-content .component .faq article > header h2 {
        @apply text-lg font-bold;
    }
    .application .page-card > .page-content .component .faq article > section {
        @apply px-6 py-8;
    }
    .application .page-card > .page-content .component .faq article > section > div {
        @apply prose;
    }
    .application .page-card > .page-content .component .message {
        @apply space-y-6;
    }
    .application .page-card > .page-content .component .message > div:first-child {
        @apply flex flex-col space-y-1;
    }
    .application .grid-counter {
        @apply flex items-center justify-center md:justify-end;
    }
    .application .grid-counter > div {
        @apply bg-white p-8 divide-y divide-gray-400 text-[15px] min-w-[340px];
    }
    .application .grid-counter > div > div {
        @apply flex items-center justify-between space-x-2;
    }
    .application .grid-counter > div > div > span:first-child {
        @apply text-[#8B8F9E];
    }

    .application .credit-payment > header {
        @apply px-8 pt-4 pb-6 bg-white border border-[#EEF0F7] rounded-[10px] space-y-5;
    }
    .application .credit-payment > header > div:first-child {
        @apply flex flex-row items-center justify-between w-full;
    }
    .application .credit-payment > header > div:first-child h2 {
        @apply md:text-lg;
    }
    .application .credit-payment > header > div:first-child img {
        @apply h-6 md:h-[54px];
    }
    .application .credit-payment > header > div:nth-child(2) {
        @apply space-y-5;
    }
    .application .credit-payment > header > div:nth-child(2) > div:first-child {
        @apply space-y-3 md:space-y-0 md:space-x-4 flex flex-col md:flex-row md:items-center;
    }

    .application .credit-payment-radio {
        @apply hidden;
    }

    .application .credit-payment-radio ~ label {
        @apply p-[10px] text-[15px] border border-dashed border-[#E1E3EB] flex items-center space-x-[10px] cursor-pointer min-w-[168px] rounded-[5px] transition;
    }
    .application .credit-payment-radio:checked ~ label {
        @apply border-[#688BE4] bg-[#F5F8FA];
    }
    .application .credit-payment-radio ~ label > div:first-child {
        @apply w-5 h-5 rounded-full border border-[#E1E3EB] bg-[#F5F8FA] flex items-center justify-center flex-shrink-0 transition;
    }
    .application .credit-payment-radio:checked ~ label > div:first-child {
        @apply border-[#688BE4] bg-[#688BE4];
    }
    .application .credit-payment-radio ~ label > div:first-child > div {
        @apply w-[10px] h-[10px] rounded-full bg-transparent flex-shrink-0 transition;
    }
    .application .credit-payment-radio:checked ~ label > div:first-child > div {
        @apply bg-white;
    }

    .application .user-card {
        @apply w-full px-8 py-4 bg-white border border-[#EEF0F7] rounded-[10px] flex flex-col xl:flex-row items-center;
    }
    .application .user-card > div:first-child {
        @apply text-[#8B8F9E] flex-shrink-0;
    }
    .application .user-card > div:nth-child(2) {
        @apply h-px xl:h-[30px] w-full xl:w-px bg-[#EEF0F7] my-4 xl:mx-4;
    }
    .application .user-card > div:nth-child(3) {
        @apply w-full flex flex-col xl:flex-row items-start space-y-4 xl:space-y-0 xl:items-center xl:justify-between text-[15px];
    }
    .application .user-card > div:nth-child(3) > div {
        @apply flex items-center space-x-[10px];
    }
    .application .user-card > div:nth-child(3) > div > span:first-child {
        @apply text-[#8B8F9E];
    }

    .receipt {
        @apply text-[15px];
    }
    .receipt > header {
        @apply border-b border-gray-300;
    }
    .receipt > section:nth-child(2) {
        @apply border-b border-dashed border-[#181C32] py-[15px];
    }
    .receipt > header, 
    .receipt > section {
        @apply space-y-[15px] pb-[15px];
    }
    .receipt > header > div, 
    .receipt > section > div {
        @apply flex items-end justify-between;
    }
    .receipt > header > div > div:first-child, 
    .receipt > section > div > div:first-child {
        @apply text-[#8B8F9E];
    }
    .receipt > header > div > div:nth-child(2), 
    .receipt > section > div > div:nth-child(2) {
        @apply font-bold text-right;
    }

    .support-success {
        @apply flex flex-col items-center justify-center text-center;
    }
    .support-success > div:first-child {
        @apply text-[#45DB8A];
    }
    .support-success > div:nth-child(2) {
        @apply text-[15px] pb-8 pt-7 space-y-[6px];
    }
    .support-success > div:nth-child(2) > div:first-child {
        @apply font-bold;
    }

    .action-form {
        @apply flex flex-col items-center justify-center space-y-4;
    }

    .action-form > div {
        @apply flex flex-col space-y-1 w-full;
    }
    .action-form > div > label {
        @apply text-sm;
    }
    .input-container {
        @apply flex items-center bg-gray-100 rounded focus-within:ring-2 focus-within:ring-gray-300 w-full;
    }
    .select-container {
        @apply flex items-center bg-gray-100 rounded focus-within:ring-2 focus-within:ring-gray-300 flex-shrink-0;
    }
    .select-container > span:first-child,
    .input-container > span:first-child {
        @apply px-3 border-r border-gray-300;
    }
    .input-container > input {
        @apply border-0 bg-transparent focus-within:ring-0 pl-2 w-full;
    }
    .select-container > select {
        @apply border-0 bg-transparent focus-within:ring-0 pl-2 w-full;
    }

    .application .support-card {
        @apply border border-[#EEF0F7] shadow-sm rounded-[10px];
    }
    .application .support-card > header {
        @apply space-y-4 md:space-y-0 md:space-x-2 flex flex-col md:flex-row md:items-center md:justify-between px-8 py-7;
    }
    .application .support-card > header > div:first-child {
        @apply flex flex-col md:flex-row md:items-center text-[13px] space-y-2 md:space-y-0;
    }
    .application .support-card > header > div:first-child > div:first-child {
        @apply md:pr-5 md:border-r border-[#EEF0F7] flex space-x-2 md:space-x-0 md:flex-col text-[#688BE4] flex-shrink-0;
    }
    .application .support-card > header > div:first-child > div:nth-child(2) {
        @apply md:pl-5;
    }
    .application .support-card > header > div:nth-child(2) {
        @apply flex space-x-4;
    }
    .application .support-card > section {
        @apply p-8;
    }
    .application .support-card > section > .messages {
        @apply max-h-[600px] overflow-y-auto;
    }
    .application .support-card > section > .messages > div {
        @apply space-y-4 text-sm pr-4;
    }
    .application .support-card > section > .messages > div > .user-text {
        @apply text-left max-w-[380px] lg:max-w-[400px] xl:max-w-[600px] space-y-2;
    }
    .application .support-card > section > .messages > div > .user-text > div:nth-child(2) {
        @apply p-8 rounded-lg bg-gray-100;
    }
    .application .support-card > section > .messages > div > .user-text > div:first-child {
        @apply text-[#688BE4] text-sm flex items-center space-x-2;
    }
    .application .support-card > section > .messages > div > .support-text {
        @apply flex items-center justify-end w-full;
    }
    .application .support-card > section > .messages > div > .support-text > div {
        @apply text-right max-w-[380px] lg:max-w-[400px] xl:max-w-[600px] space-y-2;
    }
    .application .support-card > section > .messages > div > .support-text > div > div:first-child {
        @apply text-[#688BE4] ;
    }
    .application .support-card > section > .messages > div > .support-text > div > div:first-child > div:nth-child(2) {
        @apply flex justify-end items-center space-x-2;
    }
    .application .support-card > section > .messages > div > .support-text > div > div:nth-child(2) {
        @apply p-8 bg-blue-100 rounded-lg;
    }
    .application .support-card > section > .message {
        @apply space-y-5 pt-5;
    }
    .application .support-card > section > .message > div:first-child {
        @apply w-full h-[130px];
    }
    .application .support-card > section > .message > div:first-child > textarea {
        @apply w-full h-full border-[#DDE7E7] rounded-[10px] text-sm;
    }
    .application .support-card > section > .message > .actions {
        @apply flex items-center justify-center md:justify-end space-x-4;
    }

    .grid-container.kendo .action-container {
        @apply flex space-x-2 items-center justify-center;
    }

    .support-category-radio ~ label {
        @apply py-[30px] px-6 rounded-[10px] text-[15px] hover:bg-[#F5F8FA] transition border border-[#EEF0F7] w-full cursor-pointer;
    }
    .support-category-radio:checked ~ label {
        @apply bg-[#F5F8FA] border-[#6A8DDE] select-none;
    }

    .announcement {
        @apply fixed top-0 left-0 w-screen h-screen bg-white/90 z-[200] space-y-8;
    }
    .announcement > header {
        @apply flex items-center justify-between py-4 px-8;
    }
    .announcement > header img {
        @apply h-[30px]
    }
    .announcement > section {
        @apply w-full flex items-center justify-center p-4;
    }
    .announcement > section > div {
        @apply p-4 lg:py-8 lg:px-12 bg-white border border-[#EEF0F7] rounded-[10px] w-full md:w-3/4 xl:w-1/2 flex flex-col items-center justify-center space-y-6;
    }
    .announcement > section > div > img:first-child {
        @apply h-[100px] lg:h-[180px];
    }
    .announcement > section > div article {
        @apply space-y-4;
    }
    .announcement > section > div article > h3 {
        @apply text-base lg:text-lg font-bold text-center;
    }
    .announcement > section > div article > p {
        @apply text-[#97A3B4] text-sm text-center;
    }
    .announcement > section > div > p {
        @apply text-sm text-center;
    }
    .announcement > section > div > img {
        @apply h-[42px];
    }

    .authentication .authentication-slider .splide__track,
    .authentication .authentication-slider {
        @apply h-full;
    }
    .authentication .authentication-slider .content-slide {
        @apply w-full h-full bg-gradient-to-tr from-cyan-500 to-blue-500 flex flex-col space-y-4 p-8 justify-center pb-16;
    }
    .authentication .authentication-slider .content-slide h3 {
        @apply text-white text-xl 2xl:text-[26px] font-bold text-center px-8 2xl:px-16;
    }
    .authentication .authentication-slider .content-slide p {
        @apply text-white text-base text-center px-4 2xl:px-6;
    }

    .authentication .authentication-slider .splide__pagination {
        @apply absolute bottom-16 w-full space-x-2;
    }
    .authentication .authentication-slider .splide__pagination .splide__pagination__page  {
        @apply w-4 h-4 bg-[#3055B4] rounded-full;
    }
    .authentication .authentication-slider .splide__pagination .splide__pagination__page.is-active  {
        @apply bg-white;
    }
}


@tailwind utilities;

.k-input-inner {
    outline:none;
}

.is-hidden {
    display: none!important;
}

.k-filter-menu .k-action-buttons .k-button.k-button-solid-primary {
    background-color: #688BE4!important;
}
.k-filter-menu .k-action-buttons .k-button.k-button-solid-primary:hover {
    background-color: #5c80db!important;
}

.k-checkbox::before {
    color: #5c80db!important;
}

.account-information .splide__track {
    height: 95%;
}

.k-header .k-grid-filter, .k-header .k-header-column-menu {
    bottom: 6px!important;
    right: 4px!important;
}

