<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector - Dashboard Template</title>
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.default-ocean-blue.min.css">
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.dataviz.bootstrap.min.css">
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.common.min.css">

    <link rel="stylesheet" href="/src/collector/libs/animate.min.css" />
    <link rel="stylesheet" href="/src/collector/libs/daterangepicker.css">
    <link rel="stylesheet" href="/src/collector/libs/splide/css/splide-core.min.css">
    <link rel="stylesheet" href="/src/collector/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="authentication">
        <aside>
            <div class="splide authentication-slider" role="group" aria-label="Splide Basic HTML Example">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="content-slide">
                                <img src="/src/collector/images/icons/authentication-slider.svg" alt="">
                                <h3>KURUMSAL TAHSİLAT PANELİNE HOŞ GELDİNİZ</h3>
                                <p>Bilgileriniz ve belgeleriniz incelendikten sonra size en yakın sürede dönüş
                                    sağlanacaktır. Kullanıcı bilgilerinizi girerek sisteme girebilir ve onaylanma
                                    sürecine bakabilirsiniz</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="content-slide">
                                <img src="/src/collector/images/icons/authentication-slider.svg" alt="">
                                <h3>KURUMSAL TAHSİLAT PANELİNE HOŞ GELDİNİZ</h3>
                                <p>Bilgileriniz ve belgeleriniz incelendikten sonra size en yakın sürede dönüş
                                    sağlanacaktır. Kullanıcı bilgilerinizi girerek sisteme girebilir ve onaylanma
                                    sürecine bakabilirsiniz</p>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="content-slide">
                                <img src="/src/collector/images/icons/authentication-slider.svg" alt="">
                                <h3>KURUMSAL TAHSİLAT PANELİNE HOŞ GELDİNİZ</h3>
                                <p>Bilgileriniz ve belgeleriniz incelendikten sonra size en yakın sürede dönüş
                                    sağlanacaktır. Kullanıcı bilgilerinizi girerek sisteme girebilir ve onaylanma
                                    sürecine bakabilirsiniz</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <main>
            <div>
                <img src="/src/collector/images/icons/arcelik.png" alt="">
                <div class="security-image-container">
                    <div class="centered">
                        <div class="centered sc-avatar">
                            <img src="/src/collector/images/security/20.png" alt="">
                        </div>
                    </div>
                    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde modi reiciendis dolorem recusandae beatae obcaecati commodi assumenda cum deleniti provident quos voluptate, quibusdam consequatur sed et accusamus ipsum fugiat optio.</div>
                </div>
                <div class="authentication-container">
                    <header>
                        <h2>SMS DOĞRULAMA</h2>
                        <p>E-posta/Gsm No ve Şifreniz ile Giriş Yapabiliriniz.</p>
                    </header>
                    
                    <div class="verification">
                        <div>01:22</div>
                        <div>
                            <input type="text" />
                        </div>
                        <div>
                            <button class="btn btn-primary btn-md btn-center btn-full">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                                    </svg>
                                </span>
                                <span>Gönder</span>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-outline-primary btn-center btn-full">Tekrar Kod Gönder</button>
                        </div>
                    </div>
                </div>
                <div class="authentication-container is-hidden">
                    <header>
                        <h2>GİRİŞ EKRANI</h2>
                        <p>E-posta/Gsm No ve Şifreniz ile Giriş Yapabiliriniz.</p>
                    </header>
                    <form action="">
                        <div class="login">

                            <div>
                                <input type="text" />
                            </div>
                            <div>
                                <input type="text" />
                            </div>
                            <div>
                                <button class="btn btn-primary btn-md btn-center btn-full">
                                    <span>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" />
                                        </svg>
                                    </span>
                                    <span>Gönder</span>
                                </button>
                            </div>
                            <div>
                                <div class="options">
                                    <label class="remember-me" for="RememberMe">
                                        <input class="" type="checkbox" id="RememberMe" />
                                        <span class="">Beni Hatırla</span>
                                    </label>
                                    <a class="forget-password" href="#">Şifremi Unuttum</a>
                                </div>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="actions">
                            <button class="btn btn-teal btn-center btn-md btn-full">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                                    </svg>

                                </span>
                                <span>Ön Kayıt Olmak İstiyorum</span>
                            </button>
                            <button class="btn btn-outline-primary btn-md btn-center btn-full">
                                Nasıl Ön Kayıt Olabilirim
                            </button>
                        </div>
                    </form>
                </div>
                <div class="authentication-container is-hidden">

                    <div class="centered">
                        <div class="verify-icon">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-20 h-20">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                                </svg>
                            </span>
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="w-14 h-14">
                                    <path fill-rule="evenodd"
                                        d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
                                        clip-rule="evenodd" />
                                </svg>

                            </span>
                        </div>
                    </div>
                    <div class="verify-content">
                        <div>E-Posta Adresiniz Doğrulandı.</div>
                        <div><span>00:22</span> Saniye içinde giriş sayfasına yönlendirileceksiniz.</div>
                        <div>
                            <a href="" class="btn btn-outline-primary btn-md btn-center btn-full">Yönlendir</a>
                        </div>
                    </div>

                </div>
                <footer>
                    <div>
                        <div>
                            <img src="/src/collector/images/icons/main-logo.png" alt="">
                        </div>
                        <div>
                            <img src="/src/collector/images/icons/unitedpayment.png" alt="">
                        </div>
                    </div>
                    <div>Soru ve sorunlarınız için Bilgi ve Destek Hattı <a href="tel:+908502230767">0850 223 0 767</a>
                    </div>
                </footer>
            </div>
        </main>
    </div>

    <div class="modals is-hidden">
        <div class="modals-container">
            <div class="modal modal-xl">
                <header>
                    <div></div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="how-to-apply-progress">
                        <div class="line"></div>
                        <div class="progress-container">
                            <div class="step step-active" data-slideIndex="0">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>  
                                </span> 
                                <span>Ön Kayıt Bilgileri</span>                           
                            </div>
                            <div class="step" data-slideIndex="1">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>
                                </span>   
                                <span>Bayi Bigileri</span>                           
                            </div>
                            <div class="step" data-slideIndex="2">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>  
                                </span>   
                                <span>Belge Yükleme</span>                         
                            </div>
                            <div class="step" data-slideIndex="3">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>   
                                </span>
                                <span>Banka Hesap Bilgileri</span>                           
                            </div>
                            <div class="step" data-slideIndex="4">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-5 h-5">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                                    </svg>   
                                </span>      
                                <span>Giriş Yap</span>                     
                            </div>
                        </div>
                    </div>
                    <div class="splide how-to-apply-slider" role="group" aria-label="Splide Basic HTML Example">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <div class="content-slide">
                                        <img src="/src/collector/images/sliders/register1.png" alt="">
                                        <h3>ÖN KAYIT BİLGİLERİNİ DOLDUR</h3>
                                        <p>Tüm bilgileri eksiksiz ve doğru bir şekilde doldurunuz.<span class="font-bold">Not: Tüm adımlarda girdiğiniz bilgiler kontrol edilecektir, eksik ya da hatalı bilgiler girmeniz durumunda başvurunuz onaylanmayacaktır. Bu sebeple sonraki adıma geçemeyeceksiniz. Başvuru yapmak için ilgili sayfaları tekrar doldurmanız gerekecektir.</span></p>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="content-slide ">
                                        <img src="/src/collector/images/sliders/register2.png" alt="">
                                        <h3>BAYİ BİLGİLERİNİ DOLDUR</h3>
                                        <p>Tüm bilgileri eksiksiz ve doğru bir şekilde doldurunuz.<span class="font-bold">Not: Tüm adımlarda girdiğiniz bilgiler kontrol edilecektir, eksik ya da hatalı bilgiler girmeniz durumunda başvurunuz onaylanmayacaktır. Bu sebeple sonraki adıma geçemeyeceksiniz. Başvuru yapmak için ilgili sayfaları tekrar doldurmanız gerekecektir.</span></p>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="content-slide">
                                        <img src="/src/collector/images/sliders/register3.png" alt="">
                                        <h3>BELGE YÜKLE YA DA GÖNDER</h3>
                                        <p>Tüm bilgileri eksiksiz ve doğru bir şekilde doldurunuz.<span class="font-bold">Not: Tüm adımlarda girdiğiniz bilgiler kontrol edilecektir, eksik ya da hatalı bilgiler girmeniz durumunda başvurunuz onaylanmayacaktır. Bu sebeple sonraki adıma geçemeyeceksiniz. Başvuru yapmak için ilgili sayfaları tekrar doldurmanız gerekecektir.</span></p>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="content-slide">
                                        <img src="/src/collector/images/sliders/register4.png" alt="">
                                        <h3>BANKA HESAP BİLGİLERİNİ GİR</h3>
                                        <p>Tüm bilgileri eksiksiz ve doğru bir şekilde doldurunuz.<span class="font-bold">Not: Tüm adımlarda girdiğiniz bilgiler kontrol edilecektir, eksik ya da hatalı bilgiler girmeniz durumunda başvurunuz onaylanmayacaktır. Bu sebeple sonraki adıma geçemeyeceksiniz. Başvuru yapmak için ilgili sayfaları tekrar doldurmanız gerekecektir.</span></p>
                                    </div>
                                </li>
                                <li class="splide__slide">
                                    <div class="content-slide">
                                        <img src="/src/collector/images/sliders/login.png" alt="">
                                        <h3>BAŞVURU ONAYINDAN SONRA GİRİŞ YAPABİLİRSİN</h3>
                                        <p> Tüm bilgileri eksiksiz ve doğru bir şekilde doldurunuz.<span class="font-bold">Not: Tüm adımlarda girdiğiniz bilgiler kontrol edilecektir, eksik ya da hatalı bilgiler girmeniz durumunda başvurunuz onaylanmayacaktır. Bu sebeple sonraki adıma geçemeyeceksiniz. Başvuru yapmak için ilgili sayfaları tekrar doldurmanız gerekecektir.</span></span></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="splide__arrows splide__arrows--ltr">
                            <button class="splide__arrow splide__arrow--prev btn-slider btn-slider-left" type="button" aria-label="Previous slide"
                                aria-controls="splide01-track">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 19.5L8.25 12l7.5-7.5" />
                                </svg>
                            </button>
                            <button class="splide__arrow splide__arrow--next btn-slider btn-slider-right" type="button" aria-label="Next slide"
                                aria-controls="splide01-track">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-12 h-12">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="/src/collector/libs/jquery-3.6.1.min.js"></script>
    <script src="/src/collector/libs/kendo/js/jszip.min.js"></script>
    <script src="/src/collector/libs/kendo/js/kendo.all.min.js"></script>
    <script src="/src/collector/libs/moment.min.js"></script>
    <script src="/src/collector/libs/daterangepicker.min.js"></script>
    <script src="/src/collector/libs/jquery.inputmask.bundle.js"></script>
    <script src="/src/collector/libs/splide/js/splide.min.js"></script>
    <script src="/src/collector/js/app.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            new Splide('.splide.authentication-slider', {
                arrows: false,
                pagination: true
            }).mount();
            let howToApply = new Splide('.splide.how-to-apply-slider', {
                arrows: true,
                pagination: true
            }).mount();

            howToApply.on('active', function (slide) {
                $('.how-to-apply-progress').find('.step').each(function (index, element) {
                    
                    if (parseInt($(element).attr('data-slideIndex')) <= slide.index) {
                        $(element).addClass('step-active');
                    } else {
                        $(element).removeClass('step-active');
                    }
                })
            });

            
        });
    </script>
</body>

</html>