<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector - Dashboard Template</title>
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.default-ocean-blue.min.css">
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.dataviz.bootstrap.min.css">
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.common.min.css">

    <link rel="stylesheet" href="/src/collector/libs/animate.min.css" />
    <link rel="stylesheet" href="/src/collector/libs/daterangepicker.css">
    <link rel="stylesheet" href="/src/collector/css/style.css" />
    <link rel="stylesheet" href="/src/collector/libs/splide/css/splide-core.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="application" data-app="collector">
        <!-- begin::Navigation -->
        <aside class="closed">
            <div>
                <img src="/src/collector/images/icons/arcelik.png" alt="Arçelik">
                <button class="btn btn-icon btn-gray btn-toggle-aside" data-click="toggle-aside">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="maximize-icon w-4 h-4">
                        <path fill-rule="evenodd"
                            d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd" />
                        <path fill-rule="evenodd"
                            d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                            clip-rule="evenodd" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        class="minimize-icon w-4 h-4">
                        <path fill-rule="evenodd"
                            d="M15.79 14.77a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L11.832 10l3.938 3.71a.75.75 0 01.02 1.06zm-6 0a.75.75 0 01-1.06.02l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 111.04 1.08L5.832 10l3.938 3.71a.75.75 0 01.02 1.06z"
                            clip-rule="evenodd" />
                    </svg>
                </button>
                <button class="btn btn-icon btn-gray btn-close-aside" data-click="close-aside">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                        <path
                            d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
                    </svg>
                </button>
            </div>
            <section>
                <div>
                    <div class="reseller-select">
                        <select name="" id="ChooseResellerId"></select>
                    </div>
                    <nav>
                        <ul>
                            <li>
                                <a class="active" href="#">
                                    <span class="icon"><i class="fas fa-tachometer-alt"></i></span>
                                    <span class="title">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-info-circle"></i></span>
                                    <span class="title">Bayi Bilgileri</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-wallet"></i></span>
                                    <span class="title">Kredi Ödeme</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-tasks"></i></span>
                                    <span class="title">Bayi Hareketleri</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-calculator"></i></span>
                                    <span class="title">Bayi Bakiye</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-users"></i></span>
                                    <span class="title">Bayi Kullanıcıları</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span class="icon"><i class="fas fa-comments"></i></span>
                                    <span class="title">Destek</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <footer>
                    <div>
                        <span>
                            <img class="logo-icon" src="/src/collector/images/icons/payzee.png" alt="">
                            <img class="logo-icon-sm" src="/src/collector/images/icons/payzee-md.png" alt="">
                        </span>

                        <span>
                            <a href="tel:+908502230767">
                                <span class="icon"><i class="fas fa-phone"></i></span>
                                <span class="title">0850 223 0 767</span>
                            </a>
                        </span>
                    </div>
                </footer>
            </section>
        </aside>
        <!-- end::Navigation -->
        <!-- begin::MainContent -->
        <main class="main-content">
            <!-- begin::Header -->
            <header>
                <div>
                    <div>
                        <button class="btn btn-icon btn-gray btn-open-aside" data-click="open-aside">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="w-4 h-4">
                                <path fill-rule="evenodd"
                                    d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10zm0 5.25a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <h1>Kredi Ödeme</h1>
                    </div>
                    <div>
                        <div class="date-range-picker" id="infoDateRangePicker">
                            <span>
                                <i class="far fa-calendar-alt"></i>
                            </span>
                            <span>
                                <input type="text" placeholder="date" id="infoDates" />
                            </span>
                            <span>
                                <i class="fas fa-chevron-down"></i>
                            </span>
                        </div>
                        <div class="dropdown" data-component="dropdown">
                            <button class="">
                                <span>Arçelik Merkezler Bayi</span>
                                <span><i class="fas fa-chevron-down"></i></span>
                            </button>
                            <div class="dropdown-content">
                                <a class="dropdown-link" href="#">
                                    <span>Log out</span>
                                    <span><i class="fas fa-sign-out-alt"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end::Header -->
            <!-- begin::Content -->
            <section class="dashboard-content">
                <div class="dashboard-content-inner ">
                    <div class="credit-payment">
                        <header>
                            <div>
                                <h2>Ödeyen Bilgisi</h2>
                                <div>
                                    <img src="/src/collector/images/icons/fibabanka.png" alt="">
                                </div>
                            </div>
                            <div>
                                <div>
                                    <div>
                                        <input type="radio" class="credit-payment-radio" id="itself"
                                            name="PaymentType" />
                                        <label for="itself" class="">
                                            <div>
                                                <div></div>
                                            </div>
                                            <div>Kendisi</div>
                                        </label>
                                    </div>
                                    <div>
                                        <input type="radio" class="credit-payment-radio" id="thirdParty"
                                            name="PaymentType" />
                                        <label for="thirdParty" class="">
                                            <div>
                                                <div></div>
                                            </div>
                                            <div>Üçüncü Şahıs</div>
                                        </label>
                                    </div>
                                </div>
                                <div class="form form-inline form-credit-payment">
                                    <div class="form-control">
                                        <input type="text" placeholder="TC Kimlik Numarası" />
                                    </div>
                                    <div class="form-control">
                                        <input type="text" placeholder="Referans Numarası" />
                                    </div>
                                    <div class="form-control">
                                        <input type="text" placeholder="Referans Numarası" />
                                    </div>
                                    <div class="form-control">
                                        <input type="text" placeholder="Referans Numarası" />
                                    </div>
                                    <div class="form-control">
                                        <select type="text" placeholder="">
                                            <option value="">Banka Seç</option>
                                        </select>
                                    </div>
                                    <div class="actions">
                                        <button class="btn btn-primary btn-md">Sorgula</button>
                                    </div>
                                </div>
                            </div>
                        </header>
                        <section class="grid-card">
                            <header>
                                <h2>Ödenecek Krediler</h2>
                            </header>
                            <div class="grid-area">
                                <div class="grid-container">
                                    <table></table>
                                </div>
                            </div>
                        </section>
                        <section class="grid-counter">
                            <div>
                                <div><span>TOPLAM TUTAR:</span><span>1555</span></div>
                                <div><span>TOPLAM ADET:</span><span>1240</span></div>
                            </div>
                        </section>
                    </div>
                </div>
            </section>
            <!-- end::Content -->
        </main>
        <!-- end::MainContent -->
    </div>

    <div class="modals">
        <div class="modals-container">
            <div class="modal is-hidden">
                <header>
                    <div>
                        <div>Banka Hesap Bilgisi</div>
                        <div>Lorem Ipsum Sit Amet Lorem Ipsum Sit adet</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="receipt">
                        <header>
                            <div>
                                <div>Kredi Referansı</div>
                                <div>00031-TK-220127124120</div>
                            </div>
                            <div>
                                <div>Kredi Tutarı</div>
                                <div>8000</div>
                            </div>
                        </header>
                        <section>
                            <div>
                                <div>Taksit</div>
                                <div>1/9</div>
                            </div>
                            <div>
                                <div>Taksit Tarihi</div>
                                <div>15.03.2022</div>
                            </div>
                            <div>
                                <div>Taksit Tutarı</div>
                                <div>990.90</div>
                            </div>
                            <div>
                                <div>Komisyon Tutarı</div>
                                <div>-</div>
                            </div>
                        </section>
                        <section>
                            <div>
                                <div>Ödenecek Tutar</div>
                                <div>976.6₺</div>
                            </div>
                            <div>
                                <div>Toplam Tutar</div>
                                <div>976.6₺</div>
                            </div>
                        </section>
                    </div>
                    <div class="actions">
                        <button class="btn btn-secondary btn-md btn-center">Vazgeç</button>
                        <button class="btn btn-primary btn-md btn-center">Ödemeyi Tamamla</button>
                    </div>
                    <div class="marks">
                        <div>
                            <img src="/src/collector/images/icons/fibabanka.png" alt="">
                        </div>
                        <div>
                            <img src="/src/collector/images/icons/payzee.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal is-hidden">
                <header>
                    <div>
                        <div>Banka Hesap Bilgisi</div>
                        <div>Lorem Ipsum Sit Amet Lorem Ipsum Sit adet</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="description">
                        Kredi ödemesi gerçekleşiyor. Ödemek istediniğinize emin misiniz?
                    </div>
                    <div class="actions">
                        <button class="btn btn-secondary btn-md btn-center">Vazgeç</button>
                        <button class="btn btn-primary btn-md btn-center">Evet, Onaylıyorum</button>
                    </div>
                    <div class="marks">
                        <div>
                            <img src="/src/collector/images/icons/fibabanka.png" alt="">
                        </div>
                        <div>
                            <img src="/src/collector/images/icons/payzee.png" alt="">
                        </div>
                    </div>
                </section>
            </div>
            <div class="modal modal-lg is-hidden">
                <header>
                    <div>
                        <div>Banka Hesap Bilgisi</div>
                        <div>Lorem Ipsum Sit Amet Lorem Ipsum Sit adet</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="marks">
                        <div>
                            <img src="/src/collector/images/icons/fibabanka.png" alt="">
                        </div>
                        <div>
                            <img src="/src/collector/images/icons/payzee.png" alt="">
                        </div>
                    </div>
                    <div class="approve">
                        <div>
                            <img src="/src/collector/images/icons/payment-approved.png" alt="">
                        </div>
                        <div>
                            <div>Ödemeniz Onaylandı</div>
                            <div>949962750 Nolu Krediye ait 976.6₺ Ödemeniz Tamamlanmıştır</div>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="btn btn-primary btn-md btn-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
                                </svg>
                            </span>
                            <span>Yazdır</span>
                        </button>
                        <button class="btn btn-primary btn-md btn-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                                </svg>
                            </span>
                            <span>E-posta Gönder</span>
                        </button>
                        <button class="btn btn-primary btn-md btn-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                </svg>
                            </span>
                            <span>Sms Gönder</span>
                        </button>
                    </div>

                </section>
            </div>
            <div class="modal modal-lg is-hidden">
                <header>
                    <div>
                        <div>Banka Hesap Bilgisi</div>
                        <div>Lorem Ipsum Sit Amet Lorem Ipsum Sit adet</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="marks">
                        <div>
                            <img src="/src/collector/images/icons/fibabanka.png" alt="">
                        </div>
                        <div>
                            <img src="/src/collector/images/icons/payzee.png" alt="">
                        </div>
                    </div>
                    <div class="fail">
                        <div>
                            <img src="/src/collector/images/icons/payment-fail.png" alt="">
                        </div>
                        <div>
                            <div>Ödemeniz Onaylanmadı</div>
                            <div>949962750 Nolu Krediye ait 976.6₺ Ödemeniz Tamamlanmıştır</div>
                        </div>
                    </div>
                    <div class="actions">
                        <button class="btn btn-primary btn-md btn-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
                                </svg>
                            </span>
                            <span>Yazdır</span>
                        </button>
                        <button class="btn btn-primary btn-md btn-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                                </svg>
                            </span>
                            <span>E-posta Gönder</span>
                        </button>
                        <button class="btn btn-primary btn-md btn-center">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3" />
                                </svg>
                            </span>
                            <span>Sms Gönder</span>
                        </button>
                    </div>

                </section>
            </div>
            <div class="modal is-hidden">
                <header>
                    <div>
                        <div>Kredi İptal</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="form">
                        <div class="form-control">
                            <label for="" class="">İptal Sebebi*</label>
                            <select type="text" class="">
                                <option value="">İptal Sebebini Seçiniz</option>
                            </select>
                        </div>
                        <div class="form-control">
                            <label for="" class="">Açıklama</label>
                            <textarea class="" placeholder="Açıklama..."></textarea>
                        </div>
                        <div class="form-control-radio">
                            <label for="tookMoney">
                                <input type="checkbox" id="tookMoney" name="didTookMoney" />
                                <span>Parayı Aldım</span>
                            </label>
                            <label for="ditNotTookMoney">
                                <input type="checkbox" id="ditNotTookMoney" name="didTookMoney" />
                                <span>Parayı Almadım</span>
                            </label>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-md">İptal Gönder</button>
                        </div>
                    </div>

                </section>
            </div>
            <div class="modal is-hidden">
                <header>
                    <div>
                        <div>Kredi İptal</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="form">
                        <div class="form-control">
                            <label for="" class="">Ad Soyad</label>
                            <input type="text" />
                        </div>
                        <div class="form-control">
                            <label for="" class="">TC Kimlik No</label>
                            <input type="text" />
                        </div>
                        <div class="form-control-phone">
                            <label for="">Telefon No</label>
                            <div class="grid grid-cols-4 gap-4">
                                <div class="col-span-1">
                                    <select name="" id="">
                                        <option value="90">+90</option>
                                    </select>
                                </div>
                                <div class="col-span-3">
                                    <input type="text" />
                                </div>
                            </div>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-md">İptal Gönder</button>
                        </div>
                    </div>

                </section>
            </div>
            <div class="modal">
                <header>
                    <div>
                        <div>Talebiniz alınmıştır</div>
                    </div>
                    <div>
                        <button class="btn btn-gray btn-icon">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-4 h-4">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>
                </header>
                <section>
                    <div class="support-success">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-20 h-20">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                        </div>
                        <div>
                            <div>Talebiniz Alınmıştır</div>
                            <div>En kısa Sürede Destek bölümünden talebinizle İlgili dönüş yapılacaktır</div>
                        </div>
                    </div>
                    <div class="actions">
                        <div class="full-button">
                            <button class="btn btn-primary btn-md btn-center">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                </span>
                                <span>Tamam</span>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <script src="/src/collector/libs/jquery-3.6.1.min.js"></script>
    <script src="/src/collector/libs/kendo/js/jszip.min.js"></script>
    <script src="/src/collector/libs/kendo/js/kendo.all.min.js"></script>
    <script src="/src/collector/libs/moment.min.js"></script>
    <script src="/src/collector/libs/daterangepicker.min.js"></script>
    <script src="/src/collector/libs/jquery.inputmask.bundle.js"></script>
    <script src="/src/collector/libs/splide/js/splide.min.js"></script>
    <script src="/src/collector/js/app.js"></script>
    <script src="/src/collector/js/web-reseller-information.js"></script>
</body>

</html>