<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collector - Dashboard Template</title>
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.default-ocean-blue.min.css">
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.dataviz.bootstrap.min.css">
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.common.min.css">

    <link rel="stylesheet" href="/src/collector/libs/animate.min.css" />
    <link rel="stylesheet" href="/src/collector/libs/daterangepicker.css">
    <link rel="stylesheet" href="/src/collector/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
    <div class="landing-page">
        <header>
            <div>
                <img src="/src/collector/images/icons/app-illustration.svg" alt="">
            </div> 
            <div>
                <h1>KURUMSAL TAHSİLAT <br /> PANELİNE HOŞ GELDİNİZ!</h1>
            </div>
        </header>
        <main>
            <h2>MARKANIZI SEÇEREK GİRİŞ YAPABİLİRSİNİZ.</h2>
            <div class="distributors">
                <div class="distributors-container">
                    <a href="#" class="distributor">
                        <div>
                            <img src="/src/collector/images/icons/arcelik.png" alt="">
                        </div>
                        <div>
                            <span>Arçelik Giriş</span>
                        </div>
                    </a>
                  
                </div>
            </div>
            <div class="footer">
                <div class="application-logos">
                    <div>
                        <img src="/src/collector/images/icons/unitedpayment.png" />
                    </div> 
                    <div>
                        <img src="/src/collector/images/icons/payzee.png" />
                    </div> 
                </div>
                <div class="description">
                    <p>Soru ve sorunlarınız için Bilgi ve Destek Hattı <a href="tel:+908502230767">0850 223 0 767</a></p>
                </div>
            </div>
        </main>
    </div>

    <script src="/src/collector/libs/jquery-3.6.1.min.js"></script>
    <script src="/src/collector/libs/kendo/js/jszip.min.js"></script>
    <script src="/src/collector/libs/kendo/js/kendo.all.min.js"></script>
    <script src="/src/collector/libs/moment.min.js"></script>
    <script src="/src/collector/libs/daterangepicker.min.js"></script>
    <script src="/src/collector/libs/jquery.inputmask.bundle.js"></script>
    <script src="/src/collector/js/app.js"></script>
    <script src="/src/collector/js/web-dashboard.js"></script>
</body>

</html>