<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Collector - Dashboard Template</title>
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.default-ocean-blue.min.css" />
    <link rel="stylesheet" href="/src/collector/libs/kendo/styles/kendo.dataviz.bootstrap.min.css" />


    <link rel="stylesheet" href="/src/collector/libs/animate.min.css" />
    <link rel="stylesheet" href="/src/collector/libs/daterangepicker.css" />
    <link rel="stylesheet" href="/src/collector/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="error-page">
        <div class="page-content">
            <main>
                <div>
                    <h2>404</h2>
                    <h1>Sayfa Bulunamadı…</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting Lorem Ipsum has been the
                        industry’s standard dummy text ever</p>
                    <footer>
                        <a class="btn btn-primary btn-centered btn-long btn-md" href="/">Ana Sayfa</a>
                    </footer>
                </div>
                <div class="logo">
                    <img src="/src/collector/images/icons/not-found.png" alt="">
                </div>
            </main>
            <footer>
                <div>
                    <img src="/src/collector/images/icons/payzee.png" alt="">
                </div>
                <div class="text-sm">
                    Soru ve sorunlarınız için Bilgi ve Destek Hattı <a href="tel:+908502230767">0850 223 0 767</a>
                </div>
            </footer>
        </div>
    </div>

    <script src="/src/collector/libs/jquery-3.6.1.min.js"></script>
    <script src="/src/collector/libs/kendo/js/jszip.min.js"></script>
    <script src="/src/collector/libs/kendo/js/kendo.all.min.js"></script>
    <script src="/src/collector/libs/moment.min.js"></script>
    <script src="/src/collector/libs/daterangepicker.min.js"></script>
    <script src="/src/collector/libs/jquery.inputmask.bundle.js"></script>
    <script src="/src/collector/js/avatar-generator.js"></script>
    <script src="/src/collector/js/app.js"></script>
    <script src="/src/collector/js/web-dashboard.js"></script>
    <script src="/src/collector/libs/notify.js"></script>

</body>

</html>